.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.all-costs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.costs-wrapper {
  width: 100%;
  display: flex;
}

.filter {
  display: flex;
  gap: 10px;
}